@media (max-width: 1000px) {
  #imagee {
    height: 200px;
  }
}
#theme{
  background-color: var(--card-color);
  color: var(--font-color); 
<<<<<<< HEAD
}
=======
}
>>>>>>> 260ad69ab8cd174639900da372d109b30046f877
