* {
  box-sizing: border-box;
}

.filter {
  display: none;
  
}

@media (max-width: 991px) {
  .display {
    display: none;
  }
  .filter {
    display: flex;
    border: 1px;
    border-color: blue;
    color: blue;
    font-weight: 500;
  }
  .cardc{
    border-color: blue;
    color: blue;
  }
}






