* {
  box-sizing: border-box;
}

.filter {
  display: none;
  
}
.theme{
  background-color: var(--card-color);
  color: var(--font-color);  
}
@media (max-width: 991px) {
  .display {
    display: none;
  }
  .filter {
    display: flex;
    border: 1px;
    border-color: blue;
    color: blue;
    font-weight: 500;
  }
  .cardc{
    border-color: blue;
    color: blue;
  }
}






